<!DOCTYPE html>
<html>
<head>
  {% macro option(name, value, text) %}
    <option value="{{value}}" {{ "selected" if name == value }}>{{text}}</option>
  {% endmacro %}
  <style>
    body, input, select { font-size: 2rem; font-family: sans-serif; }
    .container { display: grid; grid-template-columns: 12em 520px 10em; grid-row-gap: 8px; align-items: center; }
    select, option, input { width: 500px; }
    .col3 { font-size: 1.6rem; color: #808080; }
    .colspan2 { grid-column: span 2; }
    .colspan3 { grid-column: span 3; }
    input[type="checkbox"] { width: auto; }
    input[type="radio"] { width: auto; }
   
    #iplist { text-align: center; } 
    .ipaddr { font-size: 6rem; }
  </style>
  <title>{{ displayName }} - {{ SERVER_ADDR }}</title>
<body>
{% if (not local) or (viewCount > 0) %}
  <form method="GET" action="/display">
    <div class="container">
      <div class="col1"><label>Event code</label></div>
      <div class="col2"><input type="text" id="eventCode" name="eventCode" value="{{ eventCode }}"></div>
      <div class="col3"><label>eg: ustxfms</label></div>

      <div class="col1"><label>Data source</label></div>
      <div class="col2">
        <select id="source" name="source">
          {{ option(source, "ftclive", "FTCLive (local scoring)") }}
          {{ option(source, "nexus", "Nexus Pit Display") }}
          {{ option(source, "ftcscoring", "ftc-scoring Pit Display") }}
        </select></div>
      <div class="col3"></div>

      <div class="col1">&nbsp;</div>
      <div class="col2"></div>
      <div class="col3"></div>

      <div class="col1"><label>FTCLive (local) address:</label></div>
      <div class="col2"><input type="text" id="httpAddr" name="httpAddr" value={{ httpAddr }}></div>
      <div class="col3"><label>eg: 10.0.0.10</label></div>

      <div class="col1"><label>Display Name</label></div>
      <div class="col2"><input type="text" id="displayName" name="displayName" value="{{ displayName }}"></div>
      <div class="col3"></div>
  
      <div class="col1"><label>Display Type</label></div>
      <div class="col2">
        <select id="displayType" name="displayType">
          {{ option(displayType, "audience", "Audience") }}
          {{ option(displayType, "field", "Field") }}
          {{ option(displayType, "pit", "Pit") }}
          {{ option(displayType, "sponsor", "Sponsor") }}
          {{ option(displayType, "cmpBar", "Championship Bar") }}
        </select></div>
      <div class="col3"></div>
  
      <div class="col1"><label>Bind to Field</label></div>
      <div class="col2">
        <select id="bindToField" name="bindToField">
          {{ option(bindToField, "all", "(All)") }}
          {{ option(bindToField, "1", "Field 1") }}
          {{ option(bindToField, "2", "Field 2") }}
          {{ option(bindToField, "3", "Field 3") }}
          {{ option(bindToField, "4", "Field 4") }}
        </select></div>
      <div class="col3"></div>
  
      <div class="col1"><label>Alliance Orientation</label></div>
      <div class="col2">
        <select id="allianceOrientation" name="allianceOrientation">
          {{ option(allianceOrientation, "standard", "Standard (Red on Left)") }}
          {{ option(allianceOrientation, "flipped", "Flipped (Red on Right)") }}
        </select></div>
      <div class="col3"></div>
    </div>
    <div><input type="submit" value="Update display"></div>
    <div><input type="submit" value="Click to unmute" onclick="return clickRequest()"> <span id="xyz"> &nbsp; </span> </div>
      <script>
        function clickRequest() {
          fetch("/click")
            .then(response => response.text())
            .then(data => {
              document.getElementByID('xyz').innerHTML = data;
            })
            .catch(error => console.error('Error fetching data:', error))
          return false;  // prevent form submission
        }
      </script>
  </form>
  <hr/>
{% endif %}
{% if local %}
  <div id="iplist">
    <!-- blank -->
  </div>
  <script>
    function iplistRefresh() {
      fetch('/ip')
        .then(response => response.text())
        .then(data => {
          document.getElementById('iplist').innerHTML = data;
        })
        .catch(error => console.error('Error fetching data:', error))
    }
    iplistRefresh();
    setInterval(iplistRefresh, 10000);
  </script>
{% endif %}
</body>
</html>
